@import '@/styles/colors.scss';
@import "@/styles/_typography.scss";

.btn {
  @extend .text__short--md;
  color: $brand-100;
  background-color: $brand-900;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 124%;
  letter-spacing: -0.01em;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  border: none;
  gap: 0.6875rem;
  cursor: pointer;
  z-index: 1;
  transition:all 0.5s ease-in-out;

  & > svg {
    font-size: 0.75rem;
  }
}