@import '@/styles/colors.scss';

.navItem {
  border: 1px solid $brand-200;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1rem;
  color: $brand-800;
  width: fit-content;
  font-size: 0.9rem;
  transition:all 0.5s ease-in-out;

  &:hover {
    background-color: $brand-100;
  }

  &:active {
    background-color: $brand-200;
  }

  & > svg {
    margin-right: 0.874375rem;
    font-size: 1.2rem;
  }

  &.selected {
    color: #FFFFFF;
    background-color: $brand-600;
    border: 1px solid $brand-600;
  }
}