@import '@/styles/colors.scss';

.navItem {
  border: 1px solid $brand-400-light;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0.8rem;
  color: $brand-200;
  width: fit-content;
  font-size: 0.9rem;
  transition:all 0.5s ease-in-out;
  height: 3rem;
  
  &:hover{
    background-color: $brand-400-light;
  }

  &:active {
    background-color: $brand-600;
  }

  & > svg {
    font-size: 1.2rem;
  }

  & > span {
    display: none;
  }


  @media (min-width: 1276px) {
    & > svg {
      margin-right: 0.874375rem;
    }
    & > span {
      display: block;
    }
  }

  &.selected {
    color: #FFFFFF;
    background-color: $brand-600;
    border: 1px solid $brand-600;
  }
}