@import "@/styles/_typography.scss";

.container {
  border-radius: 1rem;
  color: white;
  padding: 3.5rem;
  position: relative;
  overflow-x: hidden;

  h1 {
    @extend .heading__600;
    margin-bottom: 2rem;
  }

  p {
    @extend .text__short--lg;
  }

  .image {
    z-index: -1;
  }
}