.container {
  background: url("/images/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  color: white;
  padding: 3.5rem;

  h1 {
    margin-bottom: 2rem;
  }
}