@import '@/styles/_colors.scss';
@import '@/styles/_typography.scss';


.container, .content, .get_started{
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.content {
  flex: 1;
}

.heading_container {
  width: 100%;
  
  @media (min-width: 768px) {
    max-width: 27.25rem;
  }
}
.heading {
  @extend  .heading__600;
  font-weight: 600;
  color: $white;
  margin: 1rem 0 3rem;
}

.label {
  @extend .text__short--md;
  font-size: 0.65rem;
  color: $pink;
  text-transform: uppercase;
}

.get_started {
  @extend.text__short--md;
  background: $white;
  border-radius: 0.75rem;
  color: $brand-800;
  padding: 1rem 1.5rem;
  max-width:  163px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1rem;

  svg {
    transition: all 0.1s ease-in-out;
  }
  
  &:hover {
    background: $light-blue-gradient;
    color: $white;
  }
  transition: all 0.2s ease-in-out;
}

.overview {
  @extend .text__long--md;
  width: 100%;
  color: $neutral-200;
  font-weight: 400;
}

@media (min-width: 1280px) {
  .overview {
    width: 25.25rem;
  }
}