$neutral-color-100: #F9FAFB;
$neutral-color-700: #3B4554;
$neutral-color-800: #212C3B;
$neutral-color-900: #101B2A;

$brand-color-50: #FAFCFF;
$brand-color-100: #F0F6FF;
$brand-color-200: #D1E9FF;
$brand-color-600: #1570EF;
$brand-color-800: #1849A9;
$brand-color-900: #1849A9;