$white: #FFFFFF;
$black: #000000;

$bg: #1A1C1F;

$opacity-04: rgba(255, 255, 255, 0.04);
$opacity-08: rgba(255, 255, 255, 0.08);
$opacity-12: rgba(255, 255, 255, 0.12);
$opacity-40B: rgba(90, 169, 242, 0.4);
$opacity-40BG: rgba(33, 44, 59, 0.4);

$overlay-08 : rgba(25, 29, 32, 0.8);


$neutral-100: #F9FAFB;
$neutral-200: #e7eaee;
$neutral-300: #d0d5dc;
$neutral-400: #aeb6c2;
$neutral-500: #848D9A;
$neutral-600: #5a6472;
$neutral-700: #3B4554;
$neutral-720: #3D4D61;
$neutral-750: #273340;
$neutral-800: #212C3B;
$neutral-900: #101B2A;
$neutral-940: rgba(29, 39, 52, 0.48);
$neutral-950: rgba(15, 20, 26, 0.6);

$brand-50: #FAFCFF;
$brand-100: #F0F6FF;
$brand-200: #D1E9FF;
$brand-500: #2e90fa;
$brand-600: #1570EF;
$brand-620: #437BCA;
$brand-650: #1053C6;
$brand-800: #1849A9;
$brand-900: #194185;
$brand-920: #003684;
$brand-950: #0C2755;

$brown-800: #B76202;
$brown-900: #6F420F;

$accent-200: #FDF8F6;
$accent-500: #EE602B;

$pink: #D469A3;
$beige: #FEF9F0;

$error: #EF2E43;
$warning: #FCAD1D;
$success: #1DA54F;

$hint-light: #AB8A62;
$hint-dark: #4D463E;

$dark-blue-gradient: linear-gradient(90deg, $brand-920 0%, $brand-950 96.88%);
$light-blue-gradient: linear-gradient(90deg, $brand-620 0%, $brand-650 96.88%);
$dark-brown-gradient: linear-gradient(90deg, $brown-800 0%, $brown-900 96.88%);

$divider: #E5E5E5;