$neutral-100: #F9FAFB;
$neutral-700: #3B4554;
$neutral-800: #212C3B;
$neutral-900: #101B2A;

$brand-50: #FAFCFF;
$brand-100: #F0F6FF;
$brand-200: #D1E9FF;
$brand-600: #1570EF;
$brand-800: #1849A9;
$brand-900: #194185;