@import './colors';
@import '@/styles/_breakpoints.scss';

.container {
  max-width: $xl;
  margin: 2rem auto 20rem;
  padding-inline: 1rem;

  &:after {
    content: "";
    background: linear-gradient(154.04deg, rgba(197, 111, 218, 0.4) 50.14%, rgba(197, 111, 218, 0) 135.59%);
    filter: blur(11.5rem);
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
    max-width: 23.3125rem;
    max-height: 23.3125rem;
    position: fixed;
    top: 205px;
    left: 40%;
    z-index: -1;
  }
  &:before {
    content: "";
    background: radial-gradient(31.63% 31.63% at 42.81% 48.91%, rgba(141, 139, 235, 0.7) 0%, rgba(46, 43, 166, 0.7) 100%) ;
    filter: blur(11.5rem);
    transform: rotate(151.27deg);
    background-size: auto;
    width: 100%;
    height: 100%;
    max-width: 33.65375rem;
    max-height: 37.64125rem;
    position: fixed;
    top: 0;
    left: 60%;
    z-index: -1;
  }
}
.accordion_contents {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5rem;

    @media (min-width: $laptop) {
      justify-content: start;
    }

    & > span {
      position: relative;
    }
  }

  .loading_page {
    position: fixed;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $opacity-12;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 1rem;
    z-index: 99999;
  }