@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './typography';
@import './colors';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    scroll-behavior: smooth;
    scroll-padding-top: 12rem;
}

body {
  background: $bg;

  &:after {
    content: "";
    background: linear-gradient(154.04deg, rgba(197, 111, 218, 0.4) 50.14%, rgba(197, 111, 218, 0) 135.59%);
    filter: blur(11.5rem);
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
    max-width: 23.3125rem;
    max-height: 23.3125rem;
    position: fixed;
    top: 205px;
    left: 40%;
  }
  &:before {
    content: "";
    background: radial-gradient(31.63% 31.63% at 42.81% 48.91%, rgba(141, 139, 235, 0.7) 0%, rgba(46, 43, 166, 0.7) 100%) ;
    filter: blur(11.5rem);
    transform: rotate(151.27deg);
    background-size: auto;
    width: 100%;
    height: 100%;
    max-width: 33.65375rem;
    max-height: 37.64125rem;
    position: fixed;
    top: 0;
    left: 60%;
  }
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
}

.react-tooltip-lite {
  background-color: $brand-600;
  color: $white;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.75rem;
}

.react-tooltip-lite-arrow {
  border-color: $brand-600;
}
.introjs-prevbutton {
  display: none!important;
}