@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './typography';
@import './colors';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body {
  background-color: $brand-50;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
}

.react-tooltip-lite {
  background-color: $brand-600;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  opacity: 0.8;
  font-weight: 500;
  padding: 0.75rem;
}

.react-tooltip-lite-arrow {
  border-color: $brand-600;
  opacity: 0.8;
}
.introjs-prevbutton {
  display: none!important;
}