@import './colors';

.container {
  max-width: 1276px;
  margin: 6.8125rem auto 0;
  color: $opacity-12;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  padding-inline: 1.5rem;
  overflow-x: hidden;

   @media (min-width: 940px) {
    flex-flow: row nowrap;
  }
}

.banner {
  width: 100%;
  margin-bottom: 2rem;

  @media (min-width: 940px) {
    max-width: 22.8125rem;
  }
}

.contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.divider {
  svg {
    width: 100%;
  }
}