@import './colors';

.container {
  max-width: 1276px;
  margin: 6.8125rem auto 0;
  padding-inline: 1.5rem;
  color: $opacity-12;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.banner {
  width: 100%;
  max-width: 22.8125rem;
  margin-bottom: 2rem;
}

.contents {
  flex: 1;
  border: 1px solid $brown-800;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}