@import './colors';

.container {
  max-width: 1276px;
  margin: 6.8125rem auto 0;
  color: $opacity-12;

  &:before {
    content: "";
    background: radial-gradient(31.63% 31.63% at 42.81% 48.91%, rgba(21, 112, 239, 0.7) 0%, rgba(46, 43, 166, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    opacity: 0.5;
    transform: rotate(151.27deg);
    width: 1442.68px;
    height: 1613.6px;
    position: fixed;
    right: -25rem;
    top: -50rem;
    z-index: -1;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-inline: 1.5rem;
  overflow-x: hidden;

  @media (min-width: 1280px) {
    padding-inline: 0.8rem;
  }
}

.banner {
  width: 100%;
  margin-bottom: 7.5rem;
}

.contents {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}

.divider {
  svg {
    width: 100%;
  }
}