@import "@/styles/colors.scss";

.logo_border {
  border-bottom: 2px solid $brand-600;
}

.map_page_logo {
  padding-bottom: 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}