@import '@/styles/colors.scss';

.timeline__icon {
  color: $white;
  background: $dark-blue-gradient;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;

  position: relative;

  &:after {
    content:"";
    position: absolute;
    transform: rotate(45deg);
    background: $brand-950;
    right: -0.3rem;
    width: 18px;
    height: 18px;
    z-index: -1;
    border-radius: 0.15rem;
  }


  &.active {
    color: $white;
    background: $light-blue-gradient;
    &:after {
      background: $brand-920;
    }
  }

}