@import '@/styles/colors';

.container {
  color: $neutral-800;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid $brand-200;
  border-radius: 0.75rem;
  transition: all 0.2s ease-in-out;
  text-align: center;
  padding: 0.5rem;
  background-color: #FFFFFF;
  position: relative;

  &__small {
    width: 7.38875rem;
    height: 8rem;
    font-size: 0.875rem;
  }

  &__large {
    width: 8.75rem;
    height: 10rem;
    font-size: 1.125rem;
  }

  .favourite {
    position: absolute;
    top: 1px;
    right: -5px;
    z-index: -2;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
   

    svg {
       font-size: 4rem;
    }

    &.active {
      svg {
        color: $brand-900;
      }
    }

    &:focus {
      z-index: 1;
    }
    
  }


  &:hover, &:focus {
    background-color: $brand-100;

    .favourite {
      z-index: 1;
    }
  }

  &:active {
    background-color: $brand-200;
  }

  
  img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
  }
}
