@import '@/styles/colors';

.container {
  color: $neutral-800;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid $brand-200;
  border-radius: 0.75rem;
  transition: all 0.2s ease-in-out;
  text-align: center;
  padding: 0.5rem;

  &__small {
    width: 7.38875rem;
    height: 8rem;
    font-size: 0.875rem;
  }

  &__large {
    width: 9.3125rem;
    height: 10rem;
    font-size: 1.125rem;
  }

  &:hover {
    background-color: $brand-100;
  }

  &:active {
    background-color: $brand-200;
  }

  img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
  }
}
