@import "@/styles/_colors.scss";
@import '@/styles/_breakPoints.scss';

.container {
  padding-left: 0;
  margin-top: 4rem;
  position: relative;
  min-height: 100%;
}

.timeline {
  height: 95%;
  width: 2px;
  background-color: $neutral-750;
  position: absolute;
  left: 1rem;
  top: 2rem;
  display: none;

  &:before, &:after {
    content: "";
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    border: 2px solid $neutral-750;
    background: $neutral-720;
    border-radius: 50%;
    left: -0.35rem;
  }

  &:before {
    top: -0.9rem;
  }

  &:after {
    bottom: -0.9rem;
  }
}

@media (min-width: $laptop) {  
  .container {
    padding-left: 6rem;
  }

  .timeline {
    display: block;
  }
}