@import "@/styles/_typography.scss";
@import "@/styles/colors.scss";

.container {
   background: $neutral-950;
   backdrop-filter: blur(32px);
   width: 100%;
   height: 100%;
   position: sticky;
   transition:top 0.5s ease 0s;
   top: 0;
   z-index: 9999;
   padding-bottom: 0.5rem;

   
   &.scrolled{
     top: -30px;
   }

   &.shadow_right { 
      &::after {
      content: '';
      position: absolute;
      background-image: linear-gradient(to right,rgba(255,255,255,0) 85%,#ffffff 100%);
      background-color: transparent;
      height: 100%;
      left: 0;
      pointer-events: none;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
 
}

.navbar {
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
  position: relative;
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    p {
      @extend .text__upper;
      text-transform: uppercase;
      margin-top: 0;
      color: #FFF; 
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 0.5rem;
    }
  }


  @media (min-width: 1280px) {
    max-width: 1276px;
    justify-content: center;
    overflow-x: hidden;
  }
}

.github_logo {
  position: absolute;
  right: 1rem;
  top: 27%;
  z-index: 10;
  display: none;
  width: 30px;

  @media (min-width: 768px) {
    display: block;
  }
  
  @media (min-width: 1276px) {
    display: none;
  }
  
  @media (min-width: 1380px) {
    display: block;
  }
}