@import "@/styles/_typography.scss";

.container {
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
   background-color: #FFFFFF;
   width: 100%;
   height: 100%;
   position: sticky;
   top: 0;
   z-index: 9999;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1.5rem;
  background-color: #FFFFFF;
  position: relative;
  width: 100%;
  max-width: 1276px;
  margin: 0 auto;

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      @extend .text__upper;
      text-transform: uppercase;
      margin-top: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 0.5rem;
    }
  }

  @media (min-width: 1276px) {
    justify-content: center;
    overflow-x: hidden;
  }
}