@import '@/styles/_colors.scss';
@import "@/styles/_typography.scss";
@import '@/styles/_breakpoints.scss';

.container {
  border: 1px solid $opacity-08;
  border-radius: 0.75rem;
  margin-top: 1.5625rem;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: $neutral-940;

  &:hover {
    box-shadow: 0 0 15px -5px rgba(0,0,0,0.3);
  }
}

.title {
  margin: 0;
  border-bottom: 1px solid $opacity-08;
  
  button {
    color: $white;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.75rem 0.75rem 0 0;
    transition:all 0.5s ease-in-out;

    &.active {
      color: $white;
      background-color: $opacity-12;

      svg {
        color: $white;
      }
    }

    svg {
      font-size: 1.5rem;
      color: $white;
      transform: rotate(0deg);
      transition: all 0.2s ease-in-out;
    }
  }
}

.body {
  margin: 1rem;
}

.timelineIcon {
  position: absolute;
  left: -6.5rem;
  top: 0.5rem;
  display: none;
}

@media (min-width: $laptop) {  
  .timelineIcon {
    display: block;
  }
}