@import '@/styles/_colors.scss';
@import "@/styles/_typography.scss";

.container {
  border: 1px solid $brand-200;
  border-radius: 0.75rem;
  margin-top: 1.5625rem;
  position: relative;
}

.title {
  margin: 0;
  border-bottom: 1px solid $brand-200;
  scroll-margin: 6rem;
  
  button {
    color: $brand-900;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    width: 100%;
    padding: 1rem;
    cursor: pointer;

    svg {
      font-size: 1.5rem;
      color: $brand-800;
      transform: rotate(0deg);
      transition: all 0.2s ease-in-out;
    }
  }
}

.body {
  margin: 1rem;
}

.timelineIcon {
  position: absolute;
  left: -6.5rem;
  top: 0.5rem;
  display: none;
}

@media (min-width: 1024px) {  
  .timelineIcon {
    display: block;
  }
}