@import '@/styles/colors.scss';
@import '@/styles/_breakPoints.scss';

.search {
  display: flex;
  justify-items: center;
  max-width: 1276px;
  align-items: center;
  margin: 10px auto;
  padding-inline: 1rem;

  @media (min-width: $xl) {
    padding-inline: 0;
  }

}

.search_container {
  width: 100%;
  height: 56px;
  background: $neutral-950;
  backdrop-filter: blur(32px);
  border: 1px solid $opacity-08;
 
  border-radius: 0.5rem;
  padding-inline: 1rem 3rem;
  display: flex;
  align-items: center;
  color: $brand-200;
  position: relative;

  & > input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: $brand-200;

    font-weight: 500;
      font-size: 18px;
      line-height: 124%;
      letter-spacing: -0.01em;

    &::placeholder {
      color: $neutral-500;
    }

  }

 

  & > .search_icon, & > .close {
    color: $neutral-500;
    position: absolute;
    right: 1.21875rem;
    top: 30%;
    transition:all 0.5s ease-in-out;
  }

   &.focused {
      & > .search_icon {
      color: $neutral-900;
    }
  }


  & >  .close {
    color: $neutral-900;
    background: none;
    border: none;
    cursor: pointer;
    top: 20%;
    right: .5rem;
  }

  
}