@import '@/styles/_colors.scss';
@import '@/styles/_typography.scss';
@import '@/styles/_breakPoints.scss';

$card_height: 14rem;

.overlay, .link, .info, .count, .card_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  min-width: 224px;
  flex: 1;
  margin-bottom: 1rem;
  position: relative;

  .info {
    justify-content: space-between;
    color: $white;
    @extend .text__short--sm;
  
    .title {
      display: flex;
      .icon {
        margin-right: 0.875rem;
        svg {
          color: $opacity-40;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    
    .count {
      background: $opacity-08;
      border-radius: 0.5rem;
      padding: 0.125rem 0.5rem;
      transform: translateY(-0.2rem);
      transition: all 0.2s ease-in-out;
   }

   .title, .count {
    cursor: pointer;
   }
    margin-bottom: 0.75rem;
  }
  
  
  .card {
    width: 100%;
    height: $card_height;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 1.5rem 1.5rem;
    background: $opacity-08;
    border: 1px solid $opacity-08;
    &::-webkit-scrollbar { 
      display: none;
    }
    border-radius: 0.75rem;
  
    
    .overlay {
      opacity: 0;
      position: absolute;
      top: 2.3rem;
      left: 0;
      bottom: 0;
      right: 0;
      background: $overlay-08;
      border: 1px solid $white;
  
      & > .link {
        background: $white;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        color: $brand-600;

        svg {
          transition: all 0.1s ease-in-out;
        }

        &:hover {
          background: $light-blue-gradient;
          color: $white;
        }
        transition: all 0.2s ease-in-out;
      }
  
      border-radius: 0.75rem;
      transition: all 0.2s ease-in-out;
  }

    display: inline-grid;
    grid-template-columns: repeat(4, 2rem);
    gap: 1rem;
    grid-auto-rows: 2rem;
    justify-content: center;

    .card_item {
      height: 2rem;
      background: $white;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
      border-radius: 0.5rem;
    }
  }

  &:hover {
    .info {
      .title {
        svg {
          color: $white;
        }
      }
    }

    .count {
      background: $white;
      color: $neutral-800;
    }

    .overlay {
      opacity: 1;
    }
  }

  &::after {
    content: url(/images/double-arrow.svg);
    position: absolute;
    transform: rotate(90deg);
    bottom: -2.5rem;
    left: 47%;
    @media (min-width: $tablet) {
      right: -1.6rem;
      top: 53%;
      bottom: unset;
      left: unset;
      transform: rotate(0deg);
    }
}

  @media (min-width: $tablet) {
    max-width: 250px;
  }

  @media (min-width: $laptop) {
    max-width: 270px;
  }

  @media (min-width: $laptop) and (max-width: $desktop) {
    max-width: 250px;
  }

  @media (min-width: $desktop) {
    max-width: 270px;
  }

  &:last-child {
      &::after {
        display: none;
      }
  }

  
  @media (min-width: $mobile-lg){
    &::after {
      display: none;
    }
  }

  @media (max-width: $laptop) {
    &::after {
      display: none;
    }
  }
 
  @media (min-width: $laptop) and (max-width: $xl) {
    &::after {
      display: block;
    }

    &:nth-child(4n+4){
      &::after {
        display: none;
      }
    }
  }

  @media (min-width: $xl) {

    &::after {
      display: block;
    }

    &:nth-child(3n+3), &:nth-child(4n+4), &:last-child {
      &::after {
        display: block;
      }
    }
    &:nth-child(5n+5) {
      &::after {
        display: none;
      }
    }
  }

  @media (max-width: $mobile-lg){
    &::after {
      display: block;
    }
  }

  transition: all 0.2s ease-in-out;
}

