@import '@/styles/colors.scss';

.tooltip {
  background-color: $brand-600;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  opacity: 0.8;
  font-weight: 500;
  padding: 0.75rem;
}

.tooltip-arrow {
  opacity: 0.8;
}